{% extends "frappe/templates/web.html" %}

{% block content %}
{{ include_style('healthcare-web.bundle.css') }}
    <div class="portal-full-section">
        <h2>List of Appointments</h2>

        {% set current_datetime = frappe.utils.now_datetime() %}
        {% set current_date = frappe.utils.getdate(current_datetime).date() %}

        <div class="previous-appointments">
            <h3>Previous Appointments</h3>
            <ol>
                {% for appointment in appointments %}
                    {% set appointment_datetime = frappe.utils.get_datetime(appointment.get("appointment_date")) %}
                    {% set appointment_date = frappe.utils.getdate(appointment_datetime).date() %}
                    {% if appointment_date < current_date %}
                        <li>
                            {{ appointment.get("name") }} {{ frappe.utils.get_datetime_str(appointment_datetime) }}
                            {{ appointment.get("appointment_time") }} {{ appointment.get("practitioner_name") }}
                        </li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>

        <div class="upcoming-appointments">
            <h3>Upcoming Appointments</h3>
            <ol>
                {% for appointment in appointments %}
                    {% set appointment_datetime = frappe.utils.get_datetime(appointment.get("appointment_date")) %}
                    {% set appointment_date = frappe.utils.getdate(appointment_datetime).date() %}
                    {% if appointment_date >= current_date %}
                        <li>
                            {{ appointment.get("name") }} {{ frappe.utils.get_datetime_str(appointment_datetime) }}
                            {{ appointment.get("appointment_time") }} {{ appointment.get("practitioner_name") }}
                            {% if appointment.get("is_upcoming") %}
                                <button class="btn-appointment" onclick="cancelAppointment('{{ appointment.get("name") }}')">Cancel</button>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
    </div>

    <script>
        function cancelAppointment(appointmentId) {
            let status = 'Cancelled';
            frappe.call({
                method: 'healthcare.healthcare.doctype.patient_appointment.patient_appointment.update_status',
                args: { appointment_id: appointmentId, status: status},
                callback: function(response) {
                    // Handle the response or perform additional actions if needed
                    console.log(response.message);
                }
            });
        }
    </script>
{% endblock %}
