{% extends "frappe/templates/web.html" %}

{% block content %}
{{ include_style('healthcare-web.bundle.css') }}
<div class="portal-full-section">
<h2>List of appointments</h2>
<ol class="cards">
{% for appointment in appointments %}
    <li>{{ appointment.get("name") }} {{ appointment.get("appointment_date") }} {{ appointment.get("appointment_time") }} {{ appointment.get("practitioner_name") }}
    <button class="btn-appointment">Cancel</button>
    </li>
{% endfor %}
</ol>
</div>

{% endblock %}
