{% extends "frappe/templates/web.html" %}

{% block content %}
{{ include_style('healthcare-web.bundle.css') }}
<section class="portal-main-section">
    <div class="col-sm-12 c-section portal-full-section">
        <div class="col-sm-12">
            <h2>Your Appointments</h2>
            <div id="appointments-container"></div>
        </div>
    </div>
</section>

<script>
    frappe.ready(() => {
        initializePage();
    });

    async function initializePage() {
        await fetchAndDisplayAppointments();
    }

    // Include appointment.js here
    <script src ="view-and-edit-appointments.js></script
</script>
<script src ="view-and-edit-appointments.js></script>


{% endblock %}
